<h3>
  <div class="text-center">
    Users:
    <div class="badge badge-info">
      <%= @users.count %>
    </div>
  </div>
</h3>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm table-light shadow">
    <thead>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Name</th>
        <th>Image</th>
        <th>Roles</th>
        <th>Confirmed?</th>
        <th>Banned?</th>
        <th>Created by invite?</th>
        <th>Invitation accepted?</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
  
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.id, user_path(user) %></td>
          <td><%= user %></td>
          <td><%= user.name %></td>
          <td>
            <% if user.image.present? %>
              <%= image_tag user.image, size: "20x20" %>
            <% end %>
          </td>
          <td><%= user.active_roles.join(", ") %></td>
          <td><%= boolean_label(user.confirmed?) %></td>
          <td><%= boolean_label(user.access_locked?) %></td>
          <td><%= boolean_label(user.created_by_invite?) %></td>
          <td><%= boolean_label(user.invitation_accepted?) %></td>
          <td>
            <% if user.invited_by == current_user %>
              <% if user.created_by_invite? && user.invitation_accepted? == false && user.confirmed? == false %>
                <%= link_to "Resend invitation", resend_invitation_user_path(user), method: :patch, class: "btn btn-sm btn-secondary" %>
              <% end %>
            <% end %>
              <% if user.confirmed? == false && user.created_by_invite? == false %>
                <%= link_to "Resend confirmation instructions", resend_confirmation_instructions_user_path(user), method: :patch, class: "btn btn-sm btn-secondary" %>
              <% end %>
              <%= link_to "Edit roles", edit_user_path(user), class: "btn btn-sm btn-warning" %>
              <%= link_to ban_status(user), ban_user_path(user), method: :patch, class: "btn btn-sm btn-danger" %>
              <%= link_to "Delete", user, method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-sm btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
