<div class="card shadow">
  <div class="card-header">
    <% if @user.invited_by == current_user %>
      <% if @user.created_by_invite? && @user.invitation_accepted? == false && @user.confirmed? == false %>
        <%= link_to "Resend invitation", resend_invitation_user_path(@user), method: :patch, class: "btn btn-sm btn-secondary" %>
      <% end %>
    <% end %>
    <% if @user.confirmed? == false && @user.created_by_invite? == false %>
      <%= link_to "Resend confirmation instructions", resend_confirmation_instructions_user_path(@user), method: :patch, class: "btn btn-sm btn-secondary" %>
    <% end %>
    <%= link_to "Edit", edit_user_path(@user), class: "btn btn-sm btn-warning" %>
    <%= link_to ban_status(@user), ban_user_path(@user), method: :patch, class: "btn btn-sm btn-danger" %>
    <%= link_to "Delete", @user, method: :delete, data: {confirm: "Are you sure"}, class: "btn btn-sm btn-danger" %>
  </div>
  <div class="card-body">
    <b>Id:</b>
    <%= link_to @user.id, user_path(@user) %>
    <br>
    <b>Email:</b>
    <%= @user.email %>
    <br>
    <b>Confirmed?</b>
    <%= boolean_label(@user.confirmed?) %>
    <br>
    <b>Banned?</b>
    <%= boolean_label(@user.access_locked?) %>
    <br>
    <b>Created by invite?</b>
    <%= boolean_label(@user.created_by_invite?) %>
    <br>
    <b>Invitation accepted?</b>
    <%= boolean_label(@user.invitation_accepted?) %>
    <br>
    <b><%= 'sign_in_count'.humanize %>:</b>
    <%= @user.sign_in_count %>
    <br>
    <b><%= 'current_sign_in_at'.humanize %>:</b>
    <%= @user.current_sign_in_at %>
    <br>
    <b><%= 'last_sign_in_at'.humanize %>:</b>
    <%= @user.last_sign_in_at %>
    <br>
    <b><%= 'current_sign_in_ip'.humanize %>:</b>
    <%= @user.current_sign_in_ip %>
    <br>
    <b><%= 'last_sign_in_ip'.humanize %>:</b>
    <%= @user.last_sign_in_ip %>
    <br>
    <b><%= 'locked_at'.humanize %>:</b>
    <%= @user.locked_at %>
    <br>
    <b><%= 'invited_by'.humanize %>:</b>
    <%= @user.invited_by %>
    <br>
    <b><%= 'provider'.humanize %>:</b>
    <%= @user.provider %>
    <br>
    <b><%= 'uid'.humanize %>:</b>
    <%= @user.uid %>
    <br>
    <b><%= 'name'.humanize %>:</b>
    <%= @user.name %>
    <br>
    <b><%= 'image'.humanize %>:</b>
    <% if @user.image.present? %>
      <%= image_tag @user.image, size: "50x50" %>
    <% end %>
    <br>
    <b><%= 'roles'.humanize %>:</b>
    <%= @user.active_roles.join(", ") %>
  </div>
  <div class="card-footer">
    <b><%= 'attendances_count'.humanize %>:</b>
    <%= @user.attendances.count %>
    <br>
    <b><%= 'student_total'.humanize %>:</b>
    <%= @user.student_total_cents %>
    <br>
    <b><%= 'lessons_count'.humanize %>:</b>
    <%= @user.lessons.count %>
    <br>
    <b><%= 'teacher_total'.humanize %>:</b>
    <%= @user.teacher_total_cents %>
  </div>
  <div class="card-footer">
    <%= link_to "All Users", users_path %>
  </div>
</div>
