<div class="card shadow">
  <div class="card-body">
    <div class="table-responsive">
      <%= month_calendar(events: @lessons, attribute: :start) do |date, lessons| %>
        <%= date %>
      
        <% lessons.each do |lesson| %>
          <div>
            Id:
            <%= link_to lesson.id, lesson_path(lesson) %>
            Course:
            <%= link_to lesson.course_id, course_path(lesson.course) %>
            User:
            <%= link_to lesson.user_id, user_path(lesson.user) %>
            Classroom:
            <%= link_to lesson.classroom_id, classroom_path(lesson.classroom) %>
            Start:
            <%= lesson.start.strftime("%H:%M") %>

            <% lesson.course.enrollments.each do |enrollment| %>
              <%= enrollment.user %>
            <% end %>
            
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
