<div class="card shadow">
  <div class="card-header">
    <h4>
      Lesson
    </h4>
  </div>
  <div class="card-body">
  
    <br>
    <b>User:</b>
    <%= @lesson.user %>
  
    <br>
    <b>Classroom:</b>
    <%= @lesson.classroom %>
  
    <br>
    <b>Course:</b>
    <%= @lesson.course %>
  
    <br>
    <b>Status:</b>
    <%= @lesson.status %>
  
    <br>
    <b>Start:</b>
    <%= @lesson.start %>
  
  </div>
  <div class="card-footer">
    <%= link_to 'Edit', edit_lesson_path(@lesson) %> |
    <%= link_to 'Back', lessons_path %>
  </div>
</div>
