
<%= simple_form_for([@course, @lesson]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :classroom %>
    <%= f.association :course %>
    <%= f.input :status, collection: Lesson.statuses, include_blank: false, as: :radio_buttons %>
    <%= f.input :start, minute_step: 15, start_year: Date.today.year - 1, end_year: Date.today.year + 1 %>

    <h3>Attendances</h3>
    <div id="attendances">
      <%= f.simple_fields_for :attendances do |attendance| %>
        <%= render 'attendance_fields', f: attendance %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add attendance', f, :attendances %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
