
<%= simple_form_for(@course) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :user %>
    <%= f.association :classroom %>
    <%= f.association :service %>
    <%= f.input :start_time, minute_step: 15 %>
    <br>
    <% Course::DAYS_OF_WEEK.each do |day| %>
      <label>
        <%= f.check_box day %>
        <%= day.to_s.humanize %>
      </label>
      <br>
    <% end %>

    <h3>Enrollments</h3>
    <div id="enrollments">
      <%= f.simple_fields_for :enrollments do |enrollment| %>
        <%= render 'enrollment_fields', f: enrollment %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add enrollment', f, :enrollments %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
