<div class="card shadow">
  <div class="card-header">
    <h4>
      Course
    </h4>
  </div>
  <div class="card-body">
  
    <b>User:</b>
    <%= link_to @course.user,@course.user %>
    <br>
  
    <b>Classroom:</b>
    <%= link_to @course.classroom, @course.classroom %>
    <br>
  
    <b>Service:</b>
    <%= link_to @course.service, @course.service %>
    <br>

    <b>Start Time:</b>
    <%= @course.start_time&.strftime("%H:%M") %>
    <br>

    <b>Days:</b>
    <%= @course.active_days.join(", ") %>
    <br>

    <b>Schedule:</b>
    <%= @course.schedule %>
    <br>

    <b>Occurrences:</b>
    <% @course.schedule.next_occurrences(8).each do |occurrence| %>
      <br>
      <%= occurrence.strftime("%a, %d-%b-%Y, %H:%M") %>
    <% end %>
    <br>
    <%= link_to "Generate lessons", generate_lessons_course_path(@course), method: :patch, data: { disable_with: "Generating..." }, class: "btn btn-sm btn-success" %>
    <br>
  
  </div>
  <div class="card-footer">

    <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    <%= link_to "New Lesson", new_course_lesson_path(@course), class: "btn btn-sm btn-primary" %>
  </div>
</div>

<br>
<div class="card shadow">
  <div class="card-header">
    <h4>
      Enrollments
    </h4>
  </div>
  <div class="card-body">

    <ul class="list-group">
      <% @enrollments.each do |enrollment| %>
        <li class="list-group-item">
          <%= link_to enrollment.user, user_path(enrollment.user) %>
        </li>
      <% end %>
    </ul>

  </div>
</div>
<br>

<%= render 'static_pages/calendar' %>
