<div class="card shadow">
  <div class="card-header">
    <h4>
      Course
    </h4>
  </div>
  <div class="card-body">
  
    <b>User:</b>
    <%= @course.user %>
    <br>
  
    <b>Classroom:</b>
    <%= @course.classroom %>
    <br>
  
    <b>Service:</b>
    <%= @course.service %>
    <br>

    <b>Start Time:</b>
    <%= @course.start_time&.strftime("%H:%M") %>
    <br>

    <b>Days:</b>
    <%= @course.active_days.join(", ") %>
    <br>
  
  </div>
  <div class="card-footer">

    <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Destroy', @course, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    <%= link_to 'Back', courses_path, class: 'btn btn-sm btn-secondary' %>
    <%= link_to "New Lesson", new_course_lesson_path(@course), class: "btn btn-sm btn-primary" %>
  </div>
</div>

<br>
<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover table-sm table-light shadow">
    <thead>
      <tr>
        <th>Id</th>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      <% @enrollments.each do |enrollment| %>
        <%= content_tag :tr, id: dom_id(enrollment), class: dom_class(enrollment) do %>
          <td><%= enrollment.id %></td>
          <td><%= enrollment.user %></td>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'static_pages/calendar' %>
