<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
    <i class="fas fa-user-lock"></i>
    CollegeCRM
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <%= link_to root_path, class: "nav-link #{'active font-weight-bold' if current_page?(root_path)}" do %>
        <div class="fa fa-home"></div>
        Home
      <% end %>
      <% if current_user %>
        <%= link_to users_path, class: "nav-link #{'active font-weight-bold' if current_page?(users_path)}" do %>
          <div class="fa fa-users"></div>
          Users
        <% end %>
        <%= link_to classrooms_path, class: "nav-link #{'active font-weight-bold' if current_page?(classrooms_path)}" do %>
          <div class="fa fa-door-open"></div>
          Classrooms
        <% end %>
      <% end %>
    </ul>
    <ul class="navbar-nav mr-right">
      <% if current_user %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="fa fa-user"></div>
            <b><%= current_user.email %></b>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to user_path(current_user), class: "dropdown-item #{'active font-weight-bold' if current_page?(user_path(current_user))}" do %>
              <div class="fa fa-user"></div>
              <b>My profile</b>
            <% end %>
            <%= link_to edit_user_path(current_user), class: "dropdown-item #{'active font-weight-bold' if current_page?(edit_user_path(current_user))}" do %>
              <div class="fa fa-cog"></div>
              <b>Edit profile</b>
            <% end %>
            <%= link_to edit_user_registration_path, class: "dropdown-item #{'active font-weight-bold' if current_page?(edit_user_registration_path)}" do %>
              <div class="fa fa-cog"></div>
              <b>Account settings</b>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
              <div class="fa fa-sign-out-alt"></div>
              <b>Sign out</b>
            <% end %>
          </div>
        </li>
      <% else %>
        <%= link_to "Log in", new_user_session_path, class: "nav-link #{'active font-weight-bold' if current_page?(new_user_session_path)}" %>
        <%= link_to "Sign up", new_user_registration_path, class: "nav-link #{'active font-weight-bold' if current_page?(new_user_registration_path)}" %>
      <% end %>
    </ul>
  </div>
</nav>